// $heading-font-family = "Roboto Condensed", "sans-serif"
// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

*
    // white-space: pre-line

.v-btn
    text-transform: none !important