a
    text-decoration: none !important

.application
    font-family: "Noto Sans JP", "Roboto", sans-serif;

.heading-font
    font-family: "Roboto Condensed" !important

.theme--light.application
    color: #444444

@media only screen and (min-width: 1264px)
    .container
        max-width: 1120px

.container
    padding: 24px 0px
